<div class="ui-section">
	<h3>
		About Me
	</h3>
	<p>
		I'm a young guy passionate about technology, programming and open source. I love the front-end world, but I have strong skills on back-end as well. I'm completely self-taught, therefore I love reading books, blogs, seeing conferences and listening javascript podcasts. In contrast, I don't like courses or certificates. I have a deserted blog and I've spend most of the time during the last 4 years in my open source project, Encuestame. The best part of my work are always my co-workers and learning new things.
		I love the Mac world, but I'm not a fan boy. I speak English, Spanish and German is in progress.
		<br/>
		I love the mac world, but I'm not a fan boy. I speak English and Spanish, German in progress.
		<br/>

	</p>
	<hr/>
	<strong>Skills</strong>
	<ul>
		<li>
			 I use only GIT, I can use CSV and SVN but I hate them.
		</li>
		<li>
			 All my work is made with Open Source.
		</li>
		<li>
			HTML, CSS, Javascript (Dojo Toolkit, jQuery, Backbone.js, Underscore, RequireJS, Javascript Templating, Node.js, Rihno, Popcorn.js, RaphaelJS and another famous libraries and frameworks).
		</li>
		<li>
			 Java (Spring Framework (all modules), Hibernate).
		</li>
		<li>
			Task Runner, Grunt, Maven, Ant
		</li>
		<li>
			I design Web Applications, not Web Pages. As a Graphic Designer I can draw some freehand circles.
		</li>
		<li>
			 I made video production with Adobe Premiere Pro and After Effects a few years ago, but it is only a hobby.
		</li>
	</ul>
</div>