<div class="ui-enme ui-section">
	<h4>
		Encuestame Open Source Survey Tool
	</h4>
	<h5>I'm the leader of the project, responsible of User Interfaces, Architectures, Performance and Product Designer.</h5>
		 <code>
	 			git clone git@github.com:encuestame/encuestame.git
	 	</code>
	 	<br/>
	 	<img src='img/enme_logo.png' width="328">
	 <blockquote>
	 		A powerful survey-oriented management system: organize your surveys and share them through your multiple social networks in the blink of an eye.
	 </blockquote>
	 <p>
	 	 <ul>
	 	 	<li>
	 	 		Dojo Framework 1.9.x
	 	 	</li>
	 	 	<li>
	 	 		Spring Framework 3.x, Security, Webflow, Mobile, Social, Integration
	 	 	</li>
	 	 	<li>
	 	 		Hiberbate 3.x, Hibernate Search, ehCache 2.x
	 	 	</li>
	 	 	<li>
	 	 		CometD 2.5.x, Websockets
	 	 	</li>
	 	 	<li>
	 	 		Cross Browser, Responsive Design, Web Mobile, CSS3, HTML5, SASS, COMPASS
	 	 	</li>
			<li>
	 	 		OAuth 1,2 as Comsumer Services and in progress Producer Services
	 	 	</li>
	 	 	<li>
	 	 		REST API
	 	 	</li>
	 	 </ul>
	 </p>
	 <label>
	 		<div>
	 			<a href="http://www.encuestame.org" target="_blank">www.encuestame.org</a>
	 		</div>
	 </label>
	 <ul>

	 </ul>
</div>