<div class="ui-index ui-section">

	<div class="resume">
		<h3>
			Juan Carlos Picado Herrera
		</h3>
		<h5>Front End Engineer, not Web Designer</h5>
		    <div class="social-contact">
          <span>
              <a href="https://github.com/juanpicado" target="_blank">
          	    <img src='img/github.png' width="26" height="26">
          	  </a>
          </span>
          <span>
            <a href="http://at.linkedin.com/in/jotadeveloper" target="_blank">
            	  <img src='img/linkedin.png' width="26" height="26">
            </a>
        </span>
          <span>
            <a href="http://www.twitter.com/jotadeveloper" target="_blank">
            	  <img src='img/twitter.png' width="26" height="26">
            </a>
        </span>
          <span>
            <a href="https://plus.google.com/110583664879406693886" target
            ="_blank">
              <img src='img/plus.png' width="26" height="26">
         	  </a>
        </span>
          <span>
            <a href="http://careers.stackoverflow.com/jotadeveloper" target
            ="_blank">
              <img src='img/careers.png' width="40" height="40">
            </a>
        </span>
        </div>
	</div>

	<div class="tedrminal">

	</div>


</div>