<div class="ui-projects ui-section">
	<h2>
		List of Projects I worked
	</h2>


		<div class="pro-item">
			<h4>
				<a href="http://www.playence.com"  target="_blank">
					Playence Enterprise Search Engine
				</a>, since 2011 to present
			</h4>
				<blockquote>
					Javascript, Backbone.js, RaphaelJS, HTML5, Node.js, CSS3, SVG, Mootools, jQuery, Richfaces, JSF, Design Patterns, Jasmine, Performance, Cross-browser
				</blockquote>
		</div>

		<div class="pro-item">
			<h4>
				<a href="/#encuestame">
					Encuestame Open Source Project
				</a>, since 2008 to present
			</h4>
				<blockquote>
					Javascript, Dojo Toolkit HTML5, CSS3, SCSS, COMPASS, Websocket. SVG, Mobile Web User Interfaces
				</blockquote>
		</div>

		<div class="pro-item">
			<h4>
				<a href="#">
					My portoflio
				</a>, 2013
			</h4>
				<blockquote>
					Twitter Bootstrap, Backbone.js, Grunt.js, SASS, Livereload, jQuery, Responsive Design
				</blockquote>
		</div>

		<div class="pro-item">
			<h4>
				<a href="http://www.encuestame.org">
					Encuestame Main Site
				</a>, 2013
			</h4>
				<blockquote>
					Twitter Bootstrap, Backbone.js, Grunt.js, RequireJS, Livereload, jQuery, Responsive Design, Cross-browser
				</blockquote>
		</div>


		<div class="pro-item">
			<h4>
				<a href="http://publicrelay.com/cms" target="_blank">
					Public Relay
				</a>, from 2009 to 2011
			</h4>
				<blockquote>
					Javascript, Java, JSP, HTML, CSS, Spring Framework, Dojo Toolkit 1.4.x.
				</blockquote>
		</div>

		<div class="pro-item">
			<h4>
				<a href="http://www.airtimekite.com/" target="_blank">
					AIRTIME kite, Inc
				</a>, from 2009 to 2011
			</h4>
				<blockquote>
					Javascript, CSS, HTML, PHP5,  Smarty, Mojavi Framework, Linux Server Administation
				</blockquote>
			<p>

			</p>
		</div>

		<div class="pro-item">
			<h4>
				<a class="sms-bnx" target="_blank">
					Banex SMS Gateway
				</a>, from 2008 to 2009
			</h4>
				<blockquote>
					Javascript, Java, Richfaces, JSF, CSS, jQuery
				</blockquote>
			<p>

			</p>
		</div>

		<div class="pro-item">
			<h4>
				<a class="enicaragua-video" target="_blank">
					eNicaragua Video Memorial
				</a>, on 2008
			</h4>
				<blockquote>
					Adobe Premiere Pro, Affter Effects
				</blockquote>
			<p>

			</p>
		</div>

		<div class="pro-item">
			<h4>
				<a class="dai" target_"blank">
					D.A.I Survey Analytics System
				</a>, from 2006 to 2008
			</h4>
				<blockquote>
					Javascript, jQuery, Prototype, scriptaculous, PHP5, HTML, CSS
				</blockquote>
			<p>

			</p>
		</div>


		<div class="pro-item">
			<h4>
				<a class="countrynet" target="_blank">
					COUNTRY.NET
				</a>, from 2005 to 2007
			</h4>
				<blockquote>
					Javascript, jQuery, PHP5, HTML, CSS
				</blockquote>
			<p>

			</p>
		</div>


		<div class="pro-item">
			<h4>
				<a href="http://blog.jotadeveloper.com/wp-content/uploads/2008/08/monografia-countrynet-final.pdf" target="_blank">
					My Tesis
				</a>, from 2005 to 2006
			</h4>
				<blockquote>
					The tesis is based on COUNTRYNET project
				</blockquote>
			<p>

			</p>
		</div>

	<!-- modal panels -->

	<div id="eModal"
			 class="modal hide fade"
			 tabindex="-1"
			 role="dialog"
			 aria-labelledby="eModalLabel"
			 aria-hidden="true">
		  <div class="modal-header">
		       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		       <h3 id="eModalLabel">eNicaragua Video Memorial (2008)</h3>
		  </div>

		<div id="daiVideo" class="video-pop"></div>

		<div class="modal-footer">
             <button class="btn close-video" data-dismiss="modal">Close</button>
        </div>
	</div>

	<div id="smsModal"
			 class="modal hide fade"
			 tabindex="-1"
			 role="dialog"
			 aria-labelledby="smsModalLabel"
			 aria-hidden="true">
		  <div class="modal-header">
		       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		       <h3 id="smsModalLabel">Banex SMS Gateway (2009)</h3>
		  </div>

		<img src='img/sms.jpg'>

		<div class="modal-footer">
             <button class="btn close-video" data-dismiss="modal">Close</button>
        </div>
	</div>


	<div id="daiModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">D.A.I Survey Analytics System (2006)</h3>
		  </div>
		  <div id="myCarousel" class="carousel slide">
			  <div class="carousel-inner">
			    <div class="item active">
			    	<img src='img/dai/dai1.png'>
			    	<div class="carousel-caption">
			              <h4>
			              	 Main Dashboard
			              </h4>
			              <p>
			              	 Display a user notifications, profile options and show the user activity stream
			             </p>
			        </div>
			    </div>
			    <div class="item">
			    	<img src='img/dai/dai2.png'>
			    	<div class="carousel-caption">
			              <h4>
			              	 Main Dashboard
			              </h4>
			              <p>
			              	 Display a user notifications, profile options and show the user activity stream
			             </p>
			        </div>
			    </div>
			    <div class="item">
			    	<img src='img/dai/dai3.png'>
			    	    	<div class="carousel-caption">
			              <h4>
			              	 User Stats on Dashboard
			              </h4>
			              <p>
			              	 Display a user stats after login the user
			             </p>
			        </div>
			    </div>
			    <div class="item">
			    	<img src='img/dai/dai4.png'>
			    	<div class="carousel-caption">
			              <h4>
			              	 Survey
			              </h4>
			              <p>
			              	 Main form to fill the survey, multiple options to save the progress of the survey and percentage completion indicator
			             </p>
			        </div>
			    </div>
			    <div class="item">
			    	<img src='img/dai/dai5.png'>
			        	<div class="carousel-caption">
			              <h4>
			              	 Stats by Questions
			              </h4>
			              <p>
			              	 Display a simple pie chart for each question
			             </p>
			        </div>
			    </div>
			  </div>

			  <a class="carousel-control left arrow" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right arrow
			  " href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
  		<div class="modal-footer">
             <button class="btn" data-dismiss="modal">Close</button>
        </div>
	</div>

	<div id="cnModal"
			 class="modal  fade"
			 tabindex="-1"
			 role="dialog"
			 aria-labelledby="myModalLabel"
			 aria-hidden="true">
		  <div class="modal-header">
		       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		       <h3 id="myModalLabel">COUNTRY.NET (2004)</h3>
		  </div>
		  <div id="myCNCarousel" class="carousel slide">
			  <div class="carousel-inner">
			    <div class="item active">
			    	<img src='img/cn_admon.jpg'>
			    	<div class="carousel-caption">
			              <h4>
			              	 COUNTRY.NET ADMON
			              </h4>
			              <p>
			              	 Display a user notifications, profile options and show the user activity stream
			             </p>
			        </div>
			    </div>
			    <div class="item">
			    	<img src='img/cn2.png'>
			    	<div class="carousel-caption">
			              <h4>
			              	 COUNTRY.NET WEB SITE
			              </h4>
			              <p>
			              	 Main country.net web site, PHP4, MySQL
			             </p>
			        </div>
			    </div>

			    <div class="item">
			    	<div style="text-aling:center;">
			    		<div id="cnVideo" class="video-pop"></div>
			    	</div>
			    </div>

			  <a class="carousel-control left arrow" href="#myCNCarousel"
			  data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right arrow" href="#myCNCarousel" data-slide="next">&rsaquo;</a>
		</div>
  		<div class="modal-footer">
             <button class="btn close-video" data-dismiss="modal">Close</button>
        </div>
	</div>
</div>