<div class="ui-projects ui-section">
	<h4>
		The best way to get more updated information about me is on my LinkedIn profile.
	</h4>

	<hr/>

	<p>
		<a href="http://at.linkedin.com/in/jotadeveloper">

          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Juan Carlos Picado Herrera's profile on LinkedIn">

    </a>
	</p>

</div>