body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.modalPanel {

}

.social-contact {

}

.social-contact span {
  margin-right: 5px;
}

.space {
  margin-right: 5px;
  margin-left: 5px;
}
.arrow {
  opacity: 0.5;
  font-size: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.arrow:hover {
  opacity: 0.9;
}


.ui-section {
  padding: 30px;
}

.terminal .terminal-output .format, .terminal .cmd .format,
.terminal .cmd .prompt, .terminal .cmd .prompt div, .terminal .terminal-output div div{
    display: inline-block;
}
.terminal .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
    margin-top: 3px;
}
.terminal .terminal-output div div, .terminal .prompt {
    display: block;
    line-height: 14px;
    height: auto;
}
.terminal .prompt {
    float: left;
}

body  {
  font-family: 'Press Start 2P', cursive;
}

.terminal {
    font-family: FreeMono, monospace;
    color: #63de00!important;
    background-color: #000;
    font-size: 12px;
    line-height: 14px;
}
.terminal-output > div {
    padding-top: 3px;
}
.terminal .terminal-output div span {
    display: inline-block;
}
.terminal .cmd span {
    float: left;
    /*display: inline-block; */
}
.terminal .cmd span.inverted {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.terminal .cmd > span::selection,
.terminal .prompt span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}

.carousel {
  margin: 0;
}

.video-pop {
  height: 400px;
  width: 560px;
}

.cursor {
  background: #63de00;
  display: inline-block;
  width: 11px;
  height: 19px;
  margin-bottom: -3px;
}

.modal h3 {
  font-size: 12px;
}

.carousel-caption h4 {
  font-size: 10px;
}
.carousel-caption p {
  font-size: 8px;
}

.row-of-icons {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.ui-index {

}

.pro-item {

}

.pro-item a{
  cursor: pointer;
}

.pro-item a:hover{
  text-decoration: none;
}

.ui-section {
    padding: 30px;
}

#box header {
  font-size: 18px;
  background: #000;
  color: white;
  padding: 20px;
  border-bottom: 2px solid #63de00;
}

#box header h1 {
  margin: 0;
}
#box header h3 {
  margin: 0;
}

#main {
  font-family: 'Audiowide', cursive;
}

#box footer {
  margin: 0;
  padding: 10px;
  font-size: 9px;
  font-weight: normal;
  background: #000;
  text-align: right;
  color : white;
  position: relative;
}

.footer-fb {
  float: left;
  position: absolute;
  top: 7px;
}

#box {
  position: relative;
  width: 60%;
  background: #FFF;
  border: 1px solid rgb(231, 231, 231);
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
  margin: 60px auto;
}

#box:before, #box:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#box:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


@media (max-width: 960px) {
   body {
      padding: 0;
   }
   #box {
      width: 100%;
      margin: 0;
      padding: 0;
   }
   #box header h1 {
      font-size: 22px;
   }
}

